@if (visibleTodos?.length) {
  <section class="main">
    <input
      type="checkbox"
      class="toggle-all"
      id="toggle-all"
      [checked]="isAllSelected"
      (change)="onToggleTodos($event)"
    />
    <label for="toggle-all">Mark all as completed</label>
    <ul class="todo-list">
      @for (todo of visibleTodos; track todo.id) {
        <app-todo-item
          [todo]="todo"
          [isEditing]="editItemId === todo.id"
          (editModeId)="handleEditModeId($event)"
          (removeTodo)="passRemoveTodo($event)"
        />
      }
    </ul>
  </section>
}
