<section class="todoapp">
  <app-header />
  <app-todo-main
    [visibleTodos]="visibleTodos$ | async"
    [isAllSelected]="areAllSelected$ | async"
    (toggleTodos)="handleToggleTodos($event)"
    (removeTodo)="handleRemoveTodo($event)"
    (toggleTodo)="handleToggleTodo($event)"
    (editedText)="handleEditedTextWithId($event)"
  />
  <app-footer
    [areThereAnyTodos]="areAnyTodos$ | async"
    [numberOfActiveTodos]="activeTodos$ | async"
    [numberOfCompletedTodos]="completedTodos$ | async"
    [currentFilter]="currentFilter$ | async"
    (changeFilter)="handleChangeFilter($event)"
    (clearCompleted)="handleClearCompoleted()"
  ></app-footer>
</section>
