@if (areAnyTodos()) {
  <footer class="footer">
    <span class="todo-count">
      <strong>{{ activeCount() }}</strong>
      {{ activeCountMessage() }}
    </span>
    <ul class="filters">
      <li>
        <a
          routerLink="/all"
          [class.selected]="currentFilter() === filterEnum.all"
          (click)="onChangeFilter($event, filterEnum.all)"
          >All</a
        >
      </li>
      <li>
        <a
          routerLink="/active"
          [class.selected]="currentFilter() === filterEnum.active"
          (click)="onChangeFilter($event, filterEnum.active)"
          >Active</a
        >
      </li>
      <li>
        <a
          routerLink="/completed"
          [class.selected]="currentFilter() === filterEnum.completed"
          (click)="onChangeFilter($event, filterEnum.completed)"
          >Completed</a
        >
      </li>
    </ul>
  </footer>
}
