<!-- eslint-disable @angular-eslint/template/elements-content -->
<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<li [class.editing]="isEditing()">
  <div class="view">
    <input type="checkbox" class="toggle" />
    <label (dblclick)="onSetTodoInEditMode()">{{ todo().text }}</label>
    <button class="destroy" (click)="onRemoveTodo()"></button>
  </div>

  @if (isEditing()) {
    <div class="input-container">
      <input
        #editInputRef
        class="edit"
        [value]="currentText()"
        (keyup)="onEditingText($event)"
        (blur)="handleBlur()"
      />
    </div>
  }
</li>
